<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  <tr>
    
    <td class="p-1 pl-2 font-weight-light text">
      
           <p> In my research, I strive to promote multidisciplinarity. As a trained political scientist and policy analyst, I am currently 
             focused on utilising insights from Network and Data Science to analyse human behaviour and understand how different events 
             (mainly natural disasters) impact it. Therefore, I aim for my research to combine different methods and approaches, with a focus on 
             achieving a positive impact on human lives. </p>
      
    </td>
  
  </tr>

</table>
