<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  <tr>
    
    <td class="p-1 pl-2 font-weight-light text">
      
           <p> I am an educator who believes in the transformative influence of education on individuals through the 
        combination of different pedagogical approaches and activities, with a final goal to nurture independent 
        thinkers (and researchers). </p>
      
    </td>
    <td class="p-1 pl-2" style="text-align: center;">
      <!-- Add the image using the img tag with CSS styles -->
      <img src="assets/img/me_teacher.png" alt="Me at CEU" style="max-width: 50%; height: auto; display: block; margin: 0 auto;">
 
    </td>
  
  </tr>

</table>
