<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  <tr>
    <td class="p-1 pl-2 font-weight-light text">
      <p><strong>Data Mining and Big Data Analytics (Winter 2023/2024)</strong></p>

      <p>Student Opinion:</p>
    
      <p>"I wish all teaching assistants were involved in the course as much as Timur was!:) </p>
      <p>I truly appreciate that he gave us detailed feedback for every assignment, indicating mistakes and areas for improvement, 
        which enhanced my learning throughout the course. He was well prepared to help clarify the questions and explain the material 
        clearly and comprehensively. He also provided valuable advice for our project."</p>

      <p>Answers to the Survey Questions "What I liked best about this course":</p>

      <p> "The geospatial class was really nice", "Lectures on Spatial DS and Graph ML" 
        <i>(I taught specifically this lecture on Spatial Data Science - TN)</i> </p>

      <p><strong>TA Assessments</strong></p>

      <p>Data Mining and Big Data Analytics (Winter 2023/2024): 9️⃣.5️⃣ / 🔟 📈 </p>

      
    </td>
</table>
