<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  <tr>
    
    <td class="p-1 pl-2 font-weight-light text">
      
           <p> For me, teaching is a collaborative journey where both teachers and students support each other in skill development and learning. 
             As a teacher, my role is to foster students’ interests and nurture their abilities. On the other hand, students should actively engage in 
             the learning process, deepening their understanding of the skills they want to acquire and staying open to new learning opportunities.
           </p>
           <p></p>
           <p> Since I work in the interdisciplinary field of applied data science, it is crucial that my teaching approach focuses on developing both hard 
             and soft skills. I guide students in becoming well-rounded individuals equipped with a versatile skill set they can apply in any area they choose.
             This is the ultimate objective of my teaching. 
           </p>
    </td>
  </tr>

</table>
