<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  <tr>
    
    <td class="p-1 pl-2 font-weight-light text">
      
           <p> 

             In this section, you can discover various examples of the teaching artefacts I have crafted. 
             Each of these examples embodies my commitment to integrating student-centeredness, multidisciplinary, 
             and inquiry-based learning approaches. By intertwining these methodologies, I strive to cultivate 
             sustained student engagement and facilitate gradual, meaningful progress in their learning journey.

           </p>
    </td>
  </tr>

</table>
