---
layout: default
---
<!-- _layouts/cv.html -->
{% unless site.data.resume %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title   }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
      {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
          <div>
          {% if entry.type == "list" %}
            {% include cv/list.html %}
          {% elsif entry.type == "map" %}
            {% include cv/map.html %}
          {% elsif entry.type == "nested_list" %}
            {% include cv/nested_list.html %}
          {% elsif entry.type == "time_table" %}
            {% include cv/time_table.html %}
          {% elsif entry.type == "list_groups" %}
            {% include cv/list_groups.html %}
          {% else %}
            {{ entry.contents }}
          {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
  </article>

</div>
{% else %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ "Teaching Portfolio" }} </h1>
    {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <article>
    <div class="cv">
      {% for data in site.data.resume %}
        {% if site.jsonresume and site.jsonresume.size > 0 %}
          {% unless site.jsonresume contains data[0] %}
            {% continue %}
          {% endunless %}
        {% endif %}
        {% if data[0] == "meta" or data[1].size == 0 %}
          {% continue %}
        {% endif %}
        <a class="anchor" id="{{ data[0] }}"></a>
<!--         <div class="card mt-3 p-3"> -->
<!--           <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3> -->
          <div>
            
          {% case data[0] %}
            {% when "basics" %}
<!--               {% include resume/basics.html %} -->
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ "Me as a Teacher"}}</h3>
                  
                  <table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
                   <tr>
                     <td class="p-1 pl-2 font-weight-light text">
                       <p> I am an educator who believes in the transformative influence of education on individuals through the 
                    combination of different pedagogical approaches and activities, with a final goal to nurture independent 
                    thinkers (and researchers). </p>
                     </td>
                   </tr>
                  </table>
                  
                </div>

            {% when "basics" %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ "Teaching Philosophy"}} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %} </h3>
                  {% include resume/measteacher.html %}
                </div>
                    
            {% when "teaching" %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ "Teaching Experience"}}</h3>
                  {% include resume/education.html %}
                </div>
            
            {% else %}

          {% endcase %}
          </div>
<!--         </div> -->
      {% endfor %}
      </div>
  </article>

</div>
{% endunless %}










<!-- page.html -->
<div class="post">

  <div class="card mt-3 p-3">
     <h3 class="card-title font-weight-medium">{{ "Teaching Artefacts"}}</h3>
  </div>
  

  <article>
    {{ content }}
  </article>

  {%- if page.related_publications != null and page.related_publications.size > 0 -%}
  {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
  <h2>References</h2>
  <div class="publications">
    {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
  </div>
  {%- endif %}

  {%- if site.giscus and page.giscus_comments -%}
    {% include giscus.html %}
  {%- endif -%}
</div>





<!-- _layouts/cv.html -->
{% unless site.data.resume %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
      {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
          <div>
          {% if entry.type == "list" %}
            {% include cv/list.html %}
          {% elsif entry.type == "map" %}
            {% include cv/map.html %}
          {% elsif entry.type == "nested_list" %}
            {% include cv/nested_list.html %}
          {% elsif entry.type == "time_table" %}
            {% include cv/time_table.html %}
          {% elsif entry.type == "list_groups" %}
            {% include cv/list_groups.html %}
          {% else %}
            {{ entry.contents }}
          {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
  </article>

</div>
{% else %}

<div class="post">


  <article>
    <div class="cv">
      {% for data in site.data.resume %}
        {% if site.jsonresume and site.jsonresume.size > 0 %}
          {% unless site.jsonresume contains data[0] %}
            {% continue %}
          {% endunless %}
        {% endif %}
        {% if data[0] == "meta" or data[1].size == 0 %}
          {% continue %}
        {% endif %}
        <a class="anchor" id="{{ data[0] }}"></a>
<!--         <div class="card mt-3 p-3"> -->
<!--           <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3> -->
          <div>
            
          {% case data[0] %}
            {% when "basics" %}
<!--               {% include resume/basics.html %} -->
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ "Teaching Assessments and Feedback"}}</h3>
                  <p> Hello, I am Timur, welcome to the Eras Tour!</p>
                </div>
            
            {% else %}

          {% endcase %}
          </div>
<!--         </div> -->
      {% endfor %}
      </div>
  </article>

</div>
{% endunless %}
